<launch>
 <include file="$(find gazebo_ros)/launch/empty_world.launch">     
    <arg name="world_name" value="$(find swarm_simulator)/world/arena.world"/>      
  </include>  

 
<group ns="swarmbot0">
<include file="$(find swarm_simulator)/launch/include/one_swarmRobot.launch">
<arg name="robot_name" value="swarmbot0"/>
<arg name="init_pose" value="-x -10.0 -y -10.0 -z 0"/>
</include>
</group>

 
    <node pkg="swarm_simulator" type="swarm_simulator_node" name="swarm_simulator_node" respawn="false" /> 
</launch>
